page{
  background: #EFF3F6;

.tabbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50rpx;
      padding: 0 14rpx;
      margin-bottom: 7rpx;
      font-size: 15rpx;
      background: #fff;
      .weekTab{
        display: flex;
        height: 36rpx;
        width: 252rpx;
        border-radius: 5rpx;
        color: #404040;
        background:rgba(248,248,248,1);
        &>view{
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
        }
            .on{
              background: #2ECE94;
              color: #fff;
            }
      }
      .week-change{
        width: 378rpx;
        height: 36rpx;
        display: flex;
        border-radius: 5rpx;
        .tab { 
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          &:nth-child(2){
            background: #f8f8f8;
            color: #2ECE94;
          }
        }
      }
      
} 
.days-tab{
  margin: 0 14rpx;
  padding: 0 81rpx 4rpx;
  height: 36rpx;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15rpx;
  color: #707070;
  border-bottom: 1rpx solid #D6D6D6;
  &>view{
    height: 100%;
    display: flex;
    align-items: center;
  }
  .on{
    color: #2ECE94;
    border-bottom: 3rpx solid #2ECE94;
  }
}
.date{
  height: 40rpx;
  margin: 0 14rpx;
  background: #fff;
  font-size: 13rpx;
  color: #404040;
  display: flex;
  justify-content: center;
  align-content: center;
  picker{
    height: 100%;
    font-size: #404040;
    display: flex;
    align-items: center;
  }
  &>view{
    font-size: 20rpx;
    display: flex;
    align-items: center;
    margin-left: 10rpx;
  }
}
.daily{
  display: flex;
  justify-content: space-between;
  margin: 0 14rpx;
  background: #fff;
  &-left{
    width: 355rpx;
    border: 1rpx solid #1C5E55;
    .category{
      height: 54rpx;
      display: flex;
      font-size: 13rpx;
      font-weight: bold;
      &>view{
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1rpx solid #1C5E55;
        background: #22705D;
        box-sizing: border-box;
        color: #fff;
        &:nth-child(1){
          width: 36rpx;
          border-left:0rpx;
        }
        &:nth-child(2){
          width: 90rpx;
        }
        &:nth-child(3){
          width: 193rpx;
          display: flex;
          flex-direction: column;
          &>view{
            display: flex;
            justify-content: center;
            align-items: center;
            &:last-child{
              font-size: 13rpx;
            }
          }
        }
        &:last-child{
          width: 36rpx;
        }
      }
    }
    .description{
      display: flex;
      height: 79rpx;
      &>view{
        border-left: 1rpx solid #1C5E55;
        border-bottom: 1rpx solid #1C5E55;
        box-sizing: border-box;
        &:nth-child(1){
          width: 36rpx;
          input{
            width: 100%;
            height: 100%;
            text-align: center;
          }
        }
        &:nth-child(2){
          width: 90rpx;
          picker{
            z-index: 99;
            width: 100%;
            height: 100%;
            position: relative;
            text{
              &:last-child{
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
          justify-content: center;
          align-items: center;
              }
            }
          }
          input{
            width: 100%;
            height: 100%;
            text-align: center;
          }
        }
        &:nth-child(3){
          width: 193rpx;
          textarea{
            width: 100%;
            height: 100%;
            text-align: center;
          }
        }
        &:last-child{
          width: 36rpx;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  &-right{
    width: 355rpx;
    background: #fff;
    border: 1rpx solid #1C5E55;
    &-title{
      height: 54rpx;
      background: #22705D;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 13rpx;
      color: #fff;
      font-weight: bold;
      text{
        &:first-child{
          margin: 0 20rpx;
        }
      }
    }
    .des{
      height: 79rpx;
      border: 1rpx solid #1C5E55;
      box-sizing: border-box;
      border-top: 0rpx;
      textarea{
        width: 100%;
        height: 100%;
        text-align: center;
      }
    }
  }
}
}