page{
  background: #EFF3F6;
}
.head{
  background: #fff;
  height: 50rpx;
  box-sizing: border-box;
  padding: 7rpx;
}
.tabbar {
  margin: auto;
  width: 378rpx;
  height: 36rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F8F8F8;
  border-radius: 5rpx;
  overflow: hidden;
  .tab {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15rpx;
    color: #404040;
  }
  .on{
    color: #FFFFFF;
    background:rgba(46,206,148,1);
  }
}

.table {
  border: 1rpx solid #1C5E55;
  margin: 0 14rpx;
  color: #219d9c;
  background: #fff;
  &-thead {
    height: 40rpx;
    display: flex;
    background: #22705D;
    text {
      width: 72rpx;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1rpx solid #1C5E55;
      border-left: 1rpx solid #1C5E55;
      font-size: 13rpx;
      color: #fff;
      font-weight: bold;
      &:nth-child(2) {
        flex: 1;
      }
    }
  }
  .title-head{
    display: flex;
    height: 40rpx;
    &>view{
      box-sizing: border-box;
      border-bottom: 1rpx solid #1C5E55;
      border-left: 1rpx solid #1C5E55;
      background: #22705D;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 13rpx;
      color: #fff;
      font-weight: bold;
      &:first-child{
        width: 72rpx;
        border-left: 0rpx;
      }
      &:nth-child(2){
        width: 72rpx;
      }
      &:nth-child(3){
        width: 36rpx;
      }
      &:nth-child(4){
        width: 210rpx;
      }
      &:nth-child(5){
        flex: 1;
      }
      &:nth-child(6){
        width: 86rpx;
      }
      &:last-child{
        width: 36rpx;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .content{
    display: flex;  
    &-left{
      width: 72rpx;
      border-bottom: 1rpx solid #1C5E55;
      box-sizing: border-box;
      border-top: 0rpx;
      background: #22705D;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 13rpx;
      color: #fff;
      font-weight: bold;
      writing-mode:vertical-rl;
      &:last-child{
        border-bottom: 0rpx;
      }
    }
    .contain{
      flex: 1;
      border-left: 1rpx solid #1C5E55;
    }
    &-right{
      display: flex;
      height: 90rpx;
      width: 100%;
      &>view{
        border: 1rpx solid #1C5E55;
        border-left: 0rpx;
        border-top: 0rpx;
        box-sizing: border-box;
        input,textarea{
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          text-align: center;
        }
        &:first-child{
          width: 72rpx;
          border-left: 0rpx;
        }
        &:nth-child(2){
          width: 36rpx;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &:nth-child(3){
          width: 210rpx;
        }
        &:nth-child(4){
          flex: 1;
        }
        &:last-child{
          width: 36rpx;
        }
        &:nth-child(5){
          width: 86rpx;
          display: flex;
          justify-content: center;
          align-items: center;
          picker{
            z-index: 99;
            width: 100%;
            height: 100%;
            position: relative;
            text{
              &:last-child{
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
          justify-content: center;
          align-items: center;
              }
            }
          }
        }
      }
    }
  }
  .tr{
    display: flex;
    height: 141rpx;
    .td1{
      justify-content: center;
      align-items: center;
      width: 72rpx;
      border-bottom: 1rpx solid #1C5E55;
      border-left: 1rpx solid #1C5E55;
      display: flex;
      background: #22705D;
      color: #fff;
      font-size: 13rpx;
      &:last-child{
        border-bottom:0rpx;
      }
    }
    .td2{
      flex: 1;
      border-bottom: 1rpx solid #1C5E55;
      border-left: 1rpx solid #1C5E55;
      textarea{
        width: 100%;
        height: 100%;
        text-align: center;
      }
    }
    &:last-child{
      .td2{
        border-bottom: 0rpx;
      }
    }
  }
}